body {
    background-color: rgb(255, 255, 255);
}
div.intro {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    text-align: center;
    line-height: 10px;
    position: relative;
}
.box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: rgb(22, 185, 164);
}
.box1, .box2, .box3, .box4, .box5 {
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}
.personalprof {
    text-align: center;
}
li {
    padding-left: 10px;
}
.work {
    line-height: 5px;
}
.activity {
    line-height: 5px;
    padding-left: 10px;
}
.cv {
    background-color: rgb(236, 236, 190);
    border: 2px solid black;
    margin: 3px;
    padding: 3px;
}
.company {
    padding-left: 10px;
}
.text {
    background-color: rgb(53, 199, 192);
    color: black;
    font-size: 16px;
    padding: 12px 24px;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top :120px;
    left: 470px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  .photodiv:hover .myphoto {
    opacity: 0.3;
  }

  .photodiv:hover .middle {
    opacity: 1;
  }
  header{
    display: flex;
    justify-content: space-evenly;
}
.cv{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    background-color: blanchedalmond;
}
.myphoto {
    display: flex;
    width: 200px;
}
.icons {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding: 10px;
   
}
.fa-facebook-official:hover {
    font-size: 28px;
    background-color: rgb(95, 95, 199);
    transition: width 0.1s;
}
.fa-instagram:hover {
    font-size: 28px;
    background-color: rgb(224, 191, 79);
    transition: width 0.1s;
}