body {
    font-family: sans-serif;
    margin: 0;
    background-image: linear-gradient(rgb(240, 174, 185), rgb(100, 135, 175));
}
a {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}
.flex-nav ul {
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(114, 110, 110);
    display: flex;
}
.flex-nav li {
    flex: 1;
}
.maindiv {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}
@media all and (max-width: 1000px) {

}
@media all and (max-width: 500px) {

}
.fa {
    max-width: 300px;
}