html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: white;
    margin: 0;
    font-family: 'Segoe UI';
  }
  /* WHATSAPP ICON STYLING */
.fa-whatsapp {
   text-align: left;
    color: white;
    background-color: #25D366;
    padding :5px;
    display: flex;
}
.top p{
    color:white;
    text-decoration: none;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    
    align-content: flex-end;
}
.top i {
    background-color: #25D366;
}
header {
    border: 2px solid purple;
    background-color: rgb(19, 194, 173);
    width: 100%;
    max-height: 100px;
    margin-bottom: 80px;
    position: fixed;
    top: 0;
}
#para {
    border: 2px solid red;
    max-height: 45px;
}
.flex-nav {
    display: flex;
    flex: 1;
    justify-content: space-around;
}
/* HEADER HEIGHT */
.headeroption, .menu {
    color:white;
    font-size: 0.75em;
    font-weight: bold;
    text-decoration: none;
    padding:20px 5px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    transition:all 0.5s;
}
.dropdown {
    width: 40%;
    transition:all 0.5s;
}
  a:hover  {
    background-color:rgba(0,0,0,0.3);
}
  
  
  .maindiv {
   /* max-width: 1000px;*/
    margin: 0 auto;
  }
  

  
  /* Flex Container */
.flex-nav ul {
    align-items: center;
    background-color: rgb(19, 194, 173);
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: flex;
    width: 60%;
    max-height: 95px;
}
.flex-nav li {
    flex: 1;
    justify-content: center;
}
.menu {
    display: none;
}
/*
  section, footer {
    text-align: center;
    background-color:rgba(0,0,0,0.2);
    padding:20px;
    margin:20px 0;
    color:white;
    font-weight: 100;
  }
  */
  /* Now the second part weekend image */
.description {
    border: 2px solid blue;
    margin: 14%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.firstline {
    font-size: 30px;
}
.secondline {
    font-size: 15px;
    color: gray;
}
.thirdline {
    font-size: 13px;
    color: rgb(214, 206, 206);
    
}
.weekendimg {
    border: 2px solid red;
    height: 500px;
}
.paras {
    border: 2px solid peru;
}
.icons a, .icons {
    text-decoration: none;
    color: rgb(19, 194, 173);
    margin: 5px;
}
.icons a {
    padding-left: 10px;
}
/* SECOND PART ENDS HERE */

/*THIRD PART STARTS HERE */
span.busapp {
    color:rgb(99, 165, 187);
}

.businessapp {
    background-color: lightblue;
}
@media all and (max-width:1000px) {
      
      .flex-nav li {
          flex: 1 1 50%;
      }
      .flex-nav {
          width: 100%;
      }
      #whatsapplink {
          display: none;
      }
}
  
  @media all and (max-width:800px) {
      body {
          background-color: rgb(19, 194, 173);
      }
      .flex-nav ul {
          max-height: 100%;
          width: 100%;
      }
      .dropdown {
          width: 80%;
      }
      .flex-nav li {
          flex-basis: 100%;
      }
      .maindiv {
          display: flex;
          flex-direction: column;
      }
      .maindiv > * {
          order: 100;
      }
      .flex-nav {
          order: 1;
      }
      .menu {
          position: absolute;
          top: 0;
          right: 10px;
          display: block;
      }
      .flex-nav ul {
          display: none;
      }
      .flex-nav ul.open {
          display: flex;
          flex-direction: column;
      }
      .description {
          display: flex;
          flex-direction: column;
          text-align: center;
      }
      .firstline {
          color: white;
          font-size: 1.5em;
      }
      .secondline {
          color: white;
      }
      
      .icons {
          display: none;
      }
      .paras {
          width: 100%;
      }
      .downloadnow {
          color: white;
          text-decoration: none;
          background-color: #25D366;
          border-radius: 20%;
          padding: 20px;
          margin: 5%;
          display: flex;
          order: 2;
      }
      .weekendimg {
          order: 3;
      }
      .thirdline {
          display: flex;
        order: 5;
    }
  }