.box {
    text-align: center;
    font-size: 50px;
    padding: 2px;
}
.box1 {
    background-color: blueviolet;
}
.box2 {
    background-color: cadetblue
}
.box3 {
    background-color: crimson
}
.box4 {
    background-color: darkkhaki
}
.box5 {
    background-color: darkorange;
}
.box6 {
    background-color: gold;
}
.box7 {
    background-color: brown;
}
.box8 {
    background-color: salmon;
}
.box9 {
    background-color: rgb(214, 33, 93);
}
.box10 {
    background-color: rgb(132, 57, 182);
}
.maindiv {
    display: flex;
}
.box1 {
    flex: 1;
}
.box5 {
    flex: 2;
}
.box8 {
    flex: 3;
}